<div class="row">
<div class="center hero-unit">
	<h1>Steam Watch</h1>
	<h2>Notifications when the games YOU want go on sale</h2>
	<p>Don't miss another great Steam Sale. We watch the games in your Steam Wishlist and let you know when they go on sale or drop in price. Sign up for email notifications.</p>

  <small>Valve - if you see this, let's talk about an affiliate program and share some revenue here ;)</small>
</div>
</div>

<div class="row">
<div class="span12">
  <h2>How it works</h2>
  <ol>
    <li>Sign in with Steam. Don't worry - it's like signing in with Facebook. You sign in on Steam's site.</li>
    <li>Enter the email you want notifications sent to.</li>
    <li>Make sure you have games in your Steam Wishlist</li>
    <li>Sit back and wait for notifications</li>
    <li>Buy the game, have fun</li>
  </ol>
</div>
</div>