<div class="center hero-unit">
	<h1>Steam Watch</h1>
	<h2>Notifications when the games YOU want go on sale</h2>
	<p>Don't miss another great Steam Sale. We watch the games in your Steam Wishlist and let you know when they go on sale. Sign up for email or text notifications.</p>
</div>