<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a href="/" class="brand">Steam Sale Tracker</a>

            <div class="nav-collapse">

                <ul class="nav pull-right">
                    <li>
                        <% if user_signed_in? %>
                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                        <% else %>
                            <%= link_to image_tag("steam_login_small.png"), user_omniauth_authorize_path(:open_id, :openid_url => "http://steamcommunity.com/openid") %>
                        <% end %>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>